* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --primarycolor--: rgb(13, 122, 77);
    --secondarycolor--: rgb(255, 251, 232);
    --bgcolor--: white;
    --activecolor--: rgb(163, 255, 163);

}

body {
    display: flex;
    margin-top: 20px;
    background-color: var(--bgcolor--);
    justify-content: center;


}

.corpo {
    width: 500px;
    background-color: var(--secondarycolor--);
    box-shadow: 8px 10px 30px;
    min-height: 500px;

}

header {
    height: 60px;
    max-height: 15%;
    background-color: var(--primarycolor--);
    color: aliceblue;
    text-align: center;
}

h1 {
    padding: 10px;

}

main {
    max-height: max-content;
    min-height: 80%;
}

/*area de input*/
.pergunta {
    display: flex;
    flex-direction: row;
    padding: 20px;
    align-items: center;
    border-bottom: 2px solid var(--primarycolor--);
    ;
}

#caixaTexto {
    width: 75%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid gray;
    padding: 10px;
}

#botao {
    width: 20%;
    height: 40px;
    margin-left: 20px;
    background-color: var(--primarycolor--);
    color: var(--secondarycolor--);
    font-size: 30px;
    border-radius: 10px;
    border: none;
}

#botao:hover {
    border: 2px solid var(--primarycolor--);
}

/*=============area da lista=============*/
.lista {
    padding: 5px;
    display: flex;
    flex-flow: row;
    align-items: center;
    border: 1px solid var(--primarycolor--);
}

.lista.clicado {
    padding: 5px;
    display: flex;
    flex-flow: row;
    align-items: center;
    border: 1px solid var(--primarycolor--);
    background-color: var(--activecolor--);
}

.check {
    margin-right: 20px;
}

#tarefa {
    width: 500px;
    height: auto;
    max-width: 80%;
    margin: 20px;
    padding: 8px;
    border-bottom: 1px dashed rgb(69, 69, 70);
    word-wrap: break-word;

}

#deleteButton {
    width: 20%;
    height: 40px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    margin: 5px;
    border: none;
    padding: 5px;
}

.lixeira {
    height: 30px;
}

#deleteButton:hover {
    background-color: rgba(143, 0, 0, 0.4);
}

/* footer*/
footer {
    height: 40px;
    text-align: center;
    background-color: var(--primarycolor--);
    color: white;
    padding: 10px;
}